.top-bar, .title-bar {
    background-color: #8EA7E9;
    color: #191919;
}

.title-bar-right .menu-icon::after {
    background: #191919;
    box-shadow: 0 0.5rem 0 #191919, 0 1rem 0 #191919;
}

.textMenu {
    font-size: 1.1rem;
    font-weight: 600;
}

li p {
    color: #191919;
}

.top-bar ul {
    background-color: #8EA7E9;
}

.sideTitle {
    font-size: 1.2rem;
    color: #191919;
    font-weight: 700;
}

.button {
    background-color: #FFF2F2;
    color: #191919;
    font-size: 1.2rem;
    font-weight: bold;
}

.button:hover {
    background-color: #E5E0FF;
    color: #191919;
}

.pageTitle {
    padding-top: 1rem;
}

.githubPage {
    font-size: 1.5rem;
}

.callout.secondary.footer {
    background-color: #7286D3;
}

.footerMenu a {
    color: #191919;
}

.footerMenu a:hover {
    font-weight: bold;
}